nav {
    font-family: "Share Tech Mono", monospace;
    font-size: 15px;
}

h1 {
    font-family: "Sacramento", cursive;
    font-size: 150px;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

h2 {
    font-family: "Sacramento", cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

nav{
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
    
}